html {
    display: flex;
    height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
}

body {
	background-color: #44475A;
    display: flex;
    align-items: center;
	flex-direction: column;
}

h1 {
	color: #F8F8F2;
	font-size: 4.5rem;
    transition: 0.25s ease-out;
}

h1:hover {
    filter: drop-shadow(0 0 5px #BD93F9);
    transition: 0.25s ease-out;
}

img {
	width: 30rem;
    transition: 0.25s ease-out;
}

img:hover {
	transform: scale(1.1);
    transition: 0.25s ease-out;
    filter: drop-shadow(0 0 10px #BD93F9);
}
