@import url("root-colorsheme.css");
@import url("root-values.css");

h1, h2, h3, h4, h5, h6 {
    color: var(--color-foreground-1);
}

a {
    color: var(--color-purple-2);
	text-decoration: none;
}

em {
	font-style: normal;
}

p {
	text-align: justify;
	font-size: var(--font-text-1);
    line-height: var(--size-line-height);
    color: var(--color-foreground-1);
	transition: var(--speed-transition-slow) ease;
}

li {
	line-height: 1.6;
	color: var(--color-foreground-1);
	margin-top: var(--size-paragraph-separation);
}

code {
	font-family: 'Hack Nerd Font', monospace;
	font-size: var(--font-text-3);
    background-color: var(--color-background-2);
    color: var(--color-foreground-3);
    padding: 2px 4px;
    border-radius: var(--size-border-radius);
	transition: var(--speed-transition-slow) ease;
}

pre {
    background-color: var(--color-background-2);
	padding: 1rem 2rem 1rem 2rem;
	border-radius: 0.5rem;
	/* TEMPORAL TAG */
    overflow-x: auto;
}

blockquote {
	padding: 1rem;
	margin: 1rem 0rem 1rem 0rem;
	background-color: #BD93F940;
	border-radius: var(--size-border-radius);
}

.main-post {
    margin: 4rem 0rem 4rem 0rem;
	width: 48rem;
    font-size: var(--font-text-2);
	transition: var(--speed-transition-slow) ease;
}

.post-header {
	text-align: center;
	font-size: var(--font-title-1);
	font-weight: 600;
	padding: 5rem 0rem 5rem 0rem;
	transition: var(--speed-transition-slow) ease;
}

.source-code {
	position: relative;
    overflow-x: auto;
    background-color: var(--color-background-2);
	line-height: var(--size-line-height);
    border-radius: var(--size-border-radius);
	padding-left: 1rem;
	padding-right: 1rem;
}

.button-to-clipboard {
	position: absolute;
	z-index: 1;
	top: 1rem;
	right: 1rem;
	background-color: var(--color-background-1);
	color: var(--color-foreground01);
	border-radius: var(--size-border-radius);
	padding: 0.5rem;
	border: none;
	transition: var(--speed-transition-fast) ease;
	font-family: "Noto Sans";
}

.button-to-clipboard:hover {
	background-color: var(--color-purple-2);
	transition: var(--speed-transition-fast) ease;
}

@media (max-width: 992px) {
	.main-post {
		width: 90%;
		transition: var(--speed-transition-slow) ease;
	}
}

@media (max-width: 600px) {
	.post-header {
		font-size: var(--font-title-2);
		padding: 2rem 0rem 2rem 0rem;
		transition: var(--speed-transition-slow) ease;
	}

	p {
		font-size: var(--font-text-2);
		transition: var(--speed-transition-slow) ease;
	}

	code {
		font-size: var(--font-text-3);
		transition: var(--speed-transition-slow) ease;
	}
}

