@import url("root-colorsheme.css");

@font-face {
	font-family: "Noto Sans";
	src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

@font-face {
	font-family: "Hack Nerd Font";
	src: '/static/fonts/hack/HackNerdFont-Regular.ttf';
}

@font-face {
	font-family: "Symbols";
	src: '/static/fonts/symbols/SymbolsNerdFont-Regular.ttf';
}

:root {
	color: var(--color-foreground-1);
	font-size: 16px;
	font-family: "Noto Sans";

	--speed-transition-fast: 0.25s;
	--speed-transition-slow: 1.00s;
	--size-border-radius: 0.5rem;
	--size-line-height: 1.6;
	--size-paragraph-separation: 1.5rem;
	--font-title-1: 5.00rem;
	--font-title-2: 2.25rem;
	--font-title-3: 2.00rem;
	--font-text-1: 1.25rem;
	--font-text-2: 1.15rem;
	--font-text-3: 1.05rem;
}

html {
	width: 100%;
}

body {
	background-color: var(--color-background-4);
}

.main-root {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.not-found-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 16vh;
	width: 80%;
}

.not-found-title {
	font-size: var(--font-title-1);
	color: var(--color-purple-2);
}

.not-found-description {
	text-align: center;
	font-size: var(--font-title-2);
}

footer {
	background-color: red;
	height: 4rem;
}

a {
	color: var(--color-purple-2);
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 0.75rem;
	height: 0.75rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-background-1);
	border-radius: var(--size-border-radius);
}

::-webkit-scrollbar-track {
	background: var(--color-background-3);
	border-radius: var(--size-border-radius);
}
